body {
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
}

#root {
  max-width: 100%;
  height: 100vh;
  position: relative;
}

.css-i9gxme {
  width: 100%;
  position: absolute;
  top: 0;
}

.css-i9gxme .MuiPaper-elevation {
  background-color: #045159;
  box-shadow: none;
}

.css-19idom {
  width: 100% !important;
  position: absolute;
  bottom: 0;
}

.logo {
  width: 50px;
  height: auto;
  padding-top: 12px;
}

.MuiBottomNavigation-root button.Mui-selected {
  color: #045159 !important;
}