@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

body {
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  font-family: "Inter", sans-serif !important;
}

#root {
  max-width: 100%;
  height: 100vh;
  position: relative;
}

.QrReaderCanvas {
  section {
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    z-index: 9 !important;
    border-radius: 25px !important;
    padding: 1rem !important;
    margin-bottom: 100px !important;
    div {
      border-radius: 20px !important;
      overflow: hidden !important;
      position: relative !important;
      padding-top: unset !important;
      box-shadow: 5px 5px 20px 0px rgb(64 64 64 / 65%);
      background-color: #000;
      video {
        position: relative !important;
        left: 0 !important;
        top: 0 !important;
        opacity: 1 !important;
      }
    }
  }
}
